# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/
**/coverage/
test-results/
**/test-results/

# production
build/
**/build/
dist/
**/dist/

# misc
.DS_Store
*.pem
.history/
.vscode/
.idea/
*.iml
*.log

# env files (can opt-in for committing if needed)
.env*

# Firebase configurations (Sensitive)
google-services.json
GoogleService-Info.plist
firebase-debug.log
.env
.env.local

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Mobile Keys
*.jks
*.keystore
*.p12
*.key
*.mobileprovision

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
