apiVersion: v1
kind: ConfigMap
metadata:
  name: hangul-play-config
data:
  ENVIRONMENT: "${ENVIRONMENT}"
  API_URL: "${API_URL}"
  BASE_HREF: "${BASE_HREF}"
  FIREBASE_AUTH_DOMAIN: "${FIREBASE_AUTH_DOMAIN}"
  FIREBASE_PROJECT_ID: "${FIREBASE_PROJECT_ID}"
  FIREBASE_STORAGE_BUCKET: "${FIREBASE_STORAGE_BUCKET}"
  FIREBASE_MESSAGING_SENDER_ID: "${FIREBASE_MESSAGING_SENDER_ID}"
  FIREBASE_MEASUREMENT_ID: "${FIREBASE_MEASUREMENT_ID}"
